/* ==========================================================================
  Softvalues
     ========================================================================== */

    /* --------------------------Tiles------------------- */
    /* --------------------------*-*------------------- */
      .our-valuable-softwares {

      }
      .our-valuable-softwares .tile#valuable-softwares-1  div{
              background: url(/img/sigmashell-background.png);
              background-size:cover;
      } 
       .our-valuable-softwares .tile#valuable-softwares-2  div{
              background: url(/img/ctrc-ctrv.jpg);
              background-size:cover;
              background-position:center;
      } 

      .our-valuable-softwares .tile  div{
        transition: box-shadow 0.4s;
        height : 272px;
        margin-top : 25px;
        margin-bottom : 25px;
        box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0);
      }
    

      @media screen and (max-width: 700px)
      {
          .our-valuable-softwares .tile#valuable-softwares-1 a > div{
                    display: flex;
                    justify-content:center;
                    align-items: center;
                } 
                .our-valuable-softwares .tile#valuable-softwares-1 a > div > div{
                    height: 70%;
                }  
      }
      .our-valuable-softwares .tile  div:hover{    
        transition: box-shadow 0.4s;
        box-shadow: inset 0 0 0 136px rgba(255, 255, 255, 0.5);
        
      }
       .our-valuable-softwares  .tile.in-progress  div:hover{
           -webkit-transition: box-shadow .35s; /* Safari */
            transition: box-shadow .35s;
        box-shadow: inset 0 0 0 136px rgba(255, 255, 255, 0.5);
      }
    
      .our-valuable-softwares .tile  div > div{
           padding: 10%;
           padding-left: 10%;
      }

     .our-valuable-softwares {
         text-align: center;
     }
      .our-valuable-softwares:not(.in-progress) p {
          color:white;
          background : gray;
      }

      .our-valuable-softwares:not(.in-progress) h3{
          font-size: 1.25rem;
          background: white;
          color: gray;
          /* padding: 1%; */
      }


    .our-valuable-softwares .in-progress h3{
            font-size: 1.25rem;
             margin: 10px;
          }


    .our-valuable-softwares  .tile.in-progress  div{
           box-shadow: inset 0px 1px 0 150px rgba(0, 0, 0, 0.8);
           text-align:center;
      }
    .our-valuable-softwares img:not(.sigmashell-logo){
          height: 15%;
          float: right;
          margin-right: 25px;
          margin-top: 10px;
      }

    .work.our-valuable-softwares{
       margin-top:0px;
    }


      footer{
        background: #b9b8b8;
      }
    
   
      footer .container a{
        height: 10px
      }

      #sigmashell-footer{
          height: 153px;
          display: flex;
          align-items: center;
      }
    
      footer .flex-container-footer img, footer .container a{
        height: 48px;
        width: auto;
      }

      @media screen and (max-width: 700px){
               footer .container img, footer .container a{
            height: 45px;
            width: 45px; 
          }
      }
    
      footer .container{
        height: 100px;
      }
      

      .flex-container-footer{
        display:flex;
        justify-content:space-between;
        align-items:center;
      }
      

      .flex-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row {
        width: auto;
    }
    .flex-item {
        background-color: tomato;
        padding: 5px;
        width: 20px;
        height: 20px;
        margin: 10px;
        line-height: 20px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }

    .nav-link{

        color:black !important;
        margin: 9px
    }

    .active{
    }

   section{
        padding-top: 120px;
   }
   section.our-valuable-softwares{
        padding-bottom: 227px;
   }



   h2{
        padding-bottom: 40px;       
   }

   .banner{
       background : #b9b8b8;
       height: 100vh;
   }

     .work.banner {
    background: white;
    height: 28px;
    padding-top: 251px;
}



  
    
    @media screen and (min-width: 700px) {
              section#how-we-do-it div{
            /*background : url(/img/what-we-do.png) no-repeat;*/
          /*  height:250px;*/
            /*background-position: center;*/

        }

        .black-box-description{
            width: 400px;
            height: auto;
        }
    }


   

    h1{
        font-family: 'Open Sans', sans-serif;
    }
    
    .navbar-collapse.collapse.show{
    }

    .view-more{
        text-align:center;
        text-decoration:underline;
        color:black;
    }
    .modules .view-more{
        margin-top: 10px;
    }
    

     h1,h2{
        text-align:center;
      }
    

a:hover {
    color: #000000 !important;
    text-decoration: none !important;
}

.our-valuable-softwares .in-progress a {
      cursor: not-allowed;
}

.our-valuable-softwares a {
    width:100%;
    height:100%;
}


.up-button-container img{
    height:30px;
    width:20px;
}

.up-button-container {
    display:flex;
    justify-content: flex-end;
    margin-bottom : 85px;

}

#sigmashell .up-button-container{
    margin-bottom: 0px;
}

.sigmashell-logo{
    height: 24px;  
    margin-bottom: 4px; 
}

.sigma-download-text{
    font-size: 11px;                           
    text-align: center;
    min-width: 109px;
    max-width: 125px;
}

html{
    scroll-behavior: smooth;
}


#softvalue-lang {
    cursor:pointer; 
    color: black;  
}


.contact.container{
    padding-top:75px;
    position: relative;
}


#googleMap{
    height:522px;
    display: none;
}

.information{
    text-align:center;
}

.information p{
    color:#b9b8b8;

}


.information-group{
    padding-top:10px;
}


.gray-background{
    background:#b9b8b8;
    height: 400px;   
    display:flex;
    align-items:center;
    justify-content:center;
}

.gray-background p{
    font-size: 25px !important;
    text-align: center;
    margin: 45px;
    color:white;
    font-size: 21px;
    background: none !important;
}


.our-valuable-partners > div{
    height: 290px;
    border: solid 3px;
}

.our-valuable-partners .partners-box{
    display:inline-block;
    background:black;
    height:70px;
    width: 70px;
    margin:10px;
}
.our-valuable-partners{
    margin-top:110px;
    margin-bottom: 90px;
}

#our-valuable-founder{
    height:100%;
    text-align:center;
}


#our-valuable-founder p{
    margin-right: 23%;
    margin-left: 23%;
    margin-top: 6%;
    margin-bottom: 8%;
    color:#b9b8b8;
}

#our-valuable-founder .profile-card a{
    color:#b9b8b8;
    display: none;
}

.linkedin-container a {
    color:#b9b8b8;
}

#our-valuable-founder img{
}


#our-valuable-founder .cards-container{
    margin: 7%;
}

#our-valuable-founder h3{
    margin-top: 10%;
}

.separator-bar.container{
    background:black;
    height:4px;
    width:27%;
}

.our-team{
    margin-bottom: 100px;
}


.our-team .gray-background{
    height: 450px;
}   

#our-valuable-founder img{
    width:75%;
}

#about{
    margin-top: 211px;
}

#about h1{
    font-family: sans-serif;
    font-size: 2rem;
}

.about-us-title-container p{
    margin-top: 50px;
    font-size: 17px!important;
    text-align: center;
    color: white;
    font-size: 20px;
}
h1,h2,p, li{
    font-weight:300 !important;
}

 .terminal-background{
    background: url(/img/sigmashell-background.png);
    background-size: contain;
    overflow: auto; 
}

.terminal-background-clipboard{
    background: url(/img/clipboard-background.jpg);
    background-size: contain;
    overflow: auto; 
}

.terminal-background-password{
    background: url(/img/password-background.jpg);
    background-size: contain;
    overflow: auto; 
}

.floating-background{
     margin: 32px;
    background: #b9b8b8;
    /* width: 100%; */
    /* margin-top: 24px; */
}
.floating-background-cp{
     margin: 32px;
    background: #f8f9fa;
    /* width: 100%; */
    /* margin-top: 24px; */
}

.video-tile{
    display: flex;
    justify-content: center;
}

.floating-background .row:not(.video-title){
    display:flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
    margin-top: 3%;
    margin-right: 4%;
    margin-left: 4%;
}

.floating-background-cp .row:not(.video-title){
    display:flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
    margin-top: 3%;
    margin-right: 4%;
    margin-left: 4%;
}
.sigma-section p{
    width:80%;
}
.clipboard-section p{
    width:80%;
}


     section#how-we-do-it img{
        width:100%;
     }
     

 @media screen and (max-width: 767px){

        .sigma-information-section{
            display: none;
        }
        .floating-background{
            margin: 10px;
        }
        .floating-background-cp{
            margin: 10px;
        }

        .floating-background .row{
            margin-left: 0%;
            margin-right: 0%;
        }

        .sigma-section p{
            width:100%;
        }
        
        .clipboard-section p{
            width:100%;
        }

        .navbar-light .navbar-brand img{
            height: 75px;
            width: 75px;
        }


        .our-valuable-softwares h2{
            margin: auto;
            margin-bottom: 0px;
            padding-bottom: 14px;
        }

        .banner{
            height: 522px;
        }
        .banner h1{
            margin: 20px;
        }
        
          .work.banner{
            padding-top: 273px;
            margin-bottom: 157px;
        }
        
         
        #about .gray-background{
            margin-top: 167px;
        }

        #about{
            margin-top: 139px;
        }
        
       
        #our-valuable-founder p{
            margin-right: 0px;
            margin-left: 0px;
        }

        .information-group{
            padding-top: 0px;
        }

     
        .our-valuable-partners {
            margin-top: 25px;
        }   



         #our-valuable-founder .profile-card a{
            display: block;
        }

        .linkedin-container a,.linkedin-container {
            display: none !important;
        }

        section {
            padding-top: 125px;
        }

        #how-we-do-it{
            padding-top: 50px;
            padding-bottom: 40px;
        }
     }
    



 /*@media screen and (min-width: 1201px){
    .banner{
        height: 900px;
    }
 }
*/

.floating-gray-background{
    height:100%;
        display:flex;
    align-items:center;
}

#licence .banner{
    background:#b9b8b8;
   /* height: 389px;*/
}
 #licence .button-container{
     display:flex;
     justify-content:center;
     max-width: 125px;
     margin-top: 125px;
     min-width: 109px;
     text-align:center;
 }

#sigmashell .banner{
    background:white;
   /* height: 389px;*/
}

#sigmashell h1{
    color:#b9b8b8;
    font-size: 53px;
}

.sigma-section h2{
    text-align: left;
    margin-bottom: 17px;
    padding-bottom: 0px;
}

.clipboard-section h2{
    text-align: left;
    margin-bottom: 17px;
    padding-bottom: 0px;
    color: #53C293;
}

.img-container img{
    height: 40px;
    width: 40px;
}

.img-container{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    max-width: 125px;
    min-width: 109px;
}

.download-button{
    background:black;
    color: white !important;
    border:black;
    width: 100%;
}

.download-button:hover{
    opacity: 0.5;
}

.langages{
   margin-top:52px;
}

.sigma-section ul{
    list-style-type:square;
}

.clipboard-section ul{
    list-style-type:square;
}

#sigmashell .img-container img:hover{
    opacity:0.5;
}



.sigma-section ul, #sigmashell iframe{
    margin-top:20px;
}

.clipboard-section ul, #sigmashell iframe{
    margin-top:20px;
}


 #sigmashell .button-container{
     display:flex;
     justify-content:center;
     max-width: 125px;
     margin-top: 125px;
     min-width: 109px;
     text-align:center;
 }

 h1 img{
    height: 100px;
    width: auto;
 }

.sigma-section.definition{
   margin-top: 10px;
}

.clipboard-section.definition{
   margin-top: 10px;
}

.linkedin-container{
    margin-bottom: 42px;
    margin-top: 20px;
}

.relocalisation-text{
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    width: 97%;
    color: #b9b8b8;
    display: none;
}




.gm-err-title{
    display: none;
}

.gm-err-message{
    display: none;
}

.gm-err-icon{
    margin-top: -90px;
}

.sigmashell-video-container iframe{
    display: none;
    height: 386px;
}

.sigmashell-video-container{
    width: 100%;
}

.sigmashell-video-container .video-active{
    display: block;
}

.sigmashell-video-container .video-display{
    margin-left: auto;
    margin-right: auto;
    max-width: 763px;

}

.sigmashell-video-container img{
    height: 50px;
    min-width: 80px;
    max-width: 85px;
}


 @media screen and (max-width: 767px){
        
    .sigmashell-video-container img{
        height: 47px;
        min-width: 80px;
        max-width: 85px;
        width: auto;
    }
 }

.video-title img{
    width: 80px;
}

.media-carousel{
    margin-bottom: 35px;
}

.carousel .col-md-3{
    text-align: center;   
}

.carousel-item p{
    margin: auto;
    text-align: center;
    font-size: 15px;
}

#video-carousel{
    margin-bottom: 20px;
    margin-top: 20px;
}


.black-box-description {
    background: black;
    margin: auto;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-box-description p{
    color:white;
    text-align: center;
}

.margin-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 700px) {
              section#how-we-do-it div{
            /*background : url(/img/what-we-do.png) no-repeat;*/
            /*height:250px;*/
            /*background-position: center;*/

        }

        .black-box-description{
            margin-bottom: 29px;
        }
    }


.what-we-do .black-box-description p{
    width: 400px;
}


.about-sigma-section .sigma-image-container{
    background: url(/img/about-us-sigmashell.jpg) no-repeat;
    width: 100%;
    height: 500px;
}

.sigma-section:not(.definition){
    margin-right: 4%;
    margin-left: 4%;
}

.clipboard-section:not(.definition){
    margin-right: 4%;
    margin-left: 4%;
}

.sigma-section {
    margin-bottom: 91px;
    position: relative;
}

.clipboard-section {
    margin-bottom: 91px;
    position: relative;
}

.about-sigma-section{
    position: relative;
    margin-top: 180px;
}

.about-sigma-description{
    position: absolute;
    right: -21px;
    top: -134px;
    width: 259px;
    height: 260px;
    background: black;
    color: white;
    padding: 1%;
}

.about-sigma-description p, .about-sigma-description h3{
    background: black !important;
    color: white !important;
}
.softvalue-container{
    margin-top:50px;
}
.softvalue-container h4{
    text-align: center;
    font-weight: 300;
    /* margin-bottom: 11px; */
}

.softvalue-container img{
    width: auto !important;
    height: 171px;
}

.softvalue-container .softvalue-icone{
    display: flex;
    justify-content: center;
}

.softvalue-text-description{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.softvalue-text-description > div{
    width: 237px;
    margin-top: 37px;
}


.softvalue-text-description h5{
    text-decoration:underline;
    font-weight: 400;
    text-align: center
}

.carousel.slide .carousel-control img{
    height: auto;
    width: 78px !important 
}




.module-item{
    text-align: center;
    margin-top : 20px;
}

.modules .module-item p, .modules .module-item button{
    text-align: center;
    width: 100%;
    /* overflow: hidden; */
    in-height: 49px;
}

.module-item button{
    height: 21px;
    font-size: 12px;
    background: white;
    border-radius: 5px;
}

.modules .module-item img{
    text-align: center;
    height: auto;
    width: 73px;
    margin: auto;
}

.module-item p{
    margin-bottom: 7px;
    min-height: 82px;
}




/*
*  Anchors
*/


#what-sigma-can-do{
    position: absolute;
    top: -187px;
}


#modules{
    position: absolute;
    top: -187px;}

#download{
    position: absolute;
    top: -187px;
}

#tutorial{
    position: absolute;
    top: -187px;
}



@media (min-width: 480px) and   (max-width: 768px){
    section{
        padding-top: 0px;
    }
} 



 .about-softwares-tile img{
            width: 100%;
}

.contact-social-media-container{
    display:flex;
    justify-content: space-around;
    width: 394px;
    margin: auto;
}

.contact-social-media-container img{
    height: auto;
    width: 34%;
    margin: auto;
    margin-top: 16px;
}



@media (min-width: 1200px){
    .information{
        padding-top: 50px;
    }
}


@media (max-width: 1199px){

    .about-sigma-description {
     right: -35px;
    top: -204px;
    }
    

    .work.banner {
        padding-top: 188px;
    }

    .carousel-control-prev, .carousel-control-next{
        width: 0%;
    }

}



@media (max-width: 768px){

.download-module-button-plus
{
    display:block !important;
}

.download-module-button-free
{
    display:none;
}


    .about-sigma-description {
    position:unset;
    height: 45px;
}
.about-sigma-section{
    margin-top: 51px;

}
.about-sigma-description p {
    display:none;
}



    .separator-bar.container{
    width:50%;
    display: none;
    }

      .work.banner {
        padding-top: 212px;
        height: 10px;
        margin-bottom: 66px;
    }

    .carousel-control-prev, .carousel-control-next{
        width: 15% !important;
    }
    .second-div{
        order: 2;
    }

    .softvalue-text-description{
        text-align: center;
        margin-top:0px;
    }

    .softvalue-text-description > div{
        margin-top:0px;
    }


    .softvalue-carousel{
        margin-bottom: 32px;
    }
    .softvalue-container h4{
        font-weight: 500;
        text-decoration-line: underline;
    }

    .softvalue-container h5{
        font-weight: 300;
        text-decoration-line: underline;
    }
    section.our-valuable-softwares {
    padding-bottom: 146px;
}
.home.up-button-container {
    margin-bottom: 37px;
}
}


@media  (max-width: 479px){
    section{
        padding-top: 62px;
    }
    .about-sigma-description h3{
        height: 20px;
        font-size: 12px;
        text-align: center;
    }

     .about-sigma-description {
    height: 21px;
    width: auto;
    }

    .about-sigma-section{
        margin-top: 90px;
    }

    .work.banner {
        padding-top: 215px;
        height: 10px;
        margin-bottom: 0px;
    }

    footer .container{
        height:auto;
    }

    .contact-social-media-container {
        width: 200px;   
    }

}


 .sigma-sub-menu ol, .sigma-sub-menu ul {
    list-style: none;
    margin-bottom: 0px;
    padding-inline-start: 12px

}
.sigma-sub-menu li {
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
}

.sigma-sub-menu a:hover, .sigma-sub-menu a:focus, .sigma-sub-menu a:active {
    color: #999;
    text-decoration: none;
}

.sigma-sub-menu img{
    height: auto;
    width: 20px;
}

.sigma-sub-menu a {
    position: relative;
    display: block;
    padding: 6px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;


}

.sigma-sub-menu a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}


.sigma-sub-menu a:active::before {
    background-color: #000;
}


.sigma-sub-menu a:hover::before, .sigma-sub-menu a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.sigma-sub-menu{
    position: fixed;
    top: 140px;
    background: gainsboro;
    height: auto;
    z-index: 999;
}


.sigma-sub-menu.above{
    background: gainsboro;
}

.sigma-sub-menu.under{
    background: #b9b8b8
}

.sigmashell-introduction-section{
    max-width: 704px;
    margin: auto;
    margin-top: 59px;
}
.sigmashell-introduction-section h2{
    text-align: center;
    color: white;
    max-width: 700px;
    font-size: 18px;
}

.clipboard-introduction-section{
    max-width: 704px;
    margin: auto;
    margin-top: 59px;
    background:#53C293;
}
.clipboard-introduction-section h2{
    text-align: center;
    color: white;
    max-width: 700px;
    font-size: 18px;
    font-style: bold;
    margin-top: 30px;
}




#module-modal-view button img,#module-modal-view a img{
    height: auto;
    width: 29px;
}

#module-modal-view button {
    background: gainsboro;
}


.modal-header .close{
    margin: -1rem !important;
}

.about-module{
    position: relative;
    position: relative;
    border: gray 2px;
    border-style: solid;
    margin-bottom: 13px;
    min-height: 68px;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.about-module label{
    position: absolute;
    top: -13px;
    background: white;
   left: 22px;
}

#module-modal-view table{
        margin-right: auto;
    padding: -6px;
    width: 97%;
    margin: auto;
    font-size: 13px;
    margin-top: 23px;
}


#second-module-modal-view .modal-footer{
    justify-content: flex-start;
}

.sigma-signature-input{
    width: 100%;
}

#second-module-modal-view .modal-footer img{
    width: auto;
    height: 80Px;
    margin-left: 128px;
}

#second-module-modal-view .modal-footer{
    justify-content: flex-start;
}
.modal-header .modal-free  {
}

.modal-version-label{
    margin-left: 205px;
}

.first-column-align-label{
    /* width: 108px; */
}

.second-column-align-label{
    width: 60px;
}

.module-info-1{
    margin-top: 21px;
}

.js-key-input, .js-machin-signature{
    width: 79%;
    text-align: center;
}

.js-machin-signature{
    margin: auto;
    width: 100%;

}


.js-error-label{
    color: red;
    text-align:center;
    font-size: 10px;
}


.module-item {
    display: flex;
    flex-direction: column;
}

.module-item p {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    word-break: break-word;
}

.js-module-about {
    margin: 3%;
}

.about-sigma-section img{
    margin-right: 0px !important;
    margin-top: 0px !important;
}

.home.up-button-container{
    margin-top: 55px;
    margin-bottom: 70px;
}

.youtube-carousel-item .col-3{
    text-align: center;
}

.modal-open-2{
    overflow: hidden;
}

.modal-open-2 .modal {
    overflow-x: hidden;
    overflow-y: auto;
}



#module-modal-view .description-module-container {
    position: relative;
}

#module-modal-view .description-module-container img {
    position: absolute;
    right: 28px;
    height: auto;
    width: 64px;
    z-index: 9;
}


@media screen and (min-width: 992px){
   



    
.about-sigma-description{
   right: -35px;
    top: -180px;

}
section.our-valuable-softwares {
    padding-bottom: 295px;
}
}





#second-module-modal-view .description-module-container {
    position: relative;
}

#second-module-modal-view .description-module-container img {
    position: absolute;
    right: 28px;
    height: auto;
    width: 64px;
}